###Env
perl = /XXX/perl 
python = /XXX/python 
java = /XXX/java

################################### 01.Kmer based Classification
Kmer_method = kraken
kraken = /XXX/kraken-1.1/
kraken_Parameters = --threads 4 --gzip-compressed --fastq-input --paired --only-classified-output
krakenDB = /XXX/Index_kraken/

################################### 02.Quality Control
qcl_method = soapnuke
fastp = /XXX/fastp
fastp_Parameters = --adapter_sequence AAGTCGGAGGCCAAGCGGTCTTAGGAAGACAA --adapter_sequence_r2 AAGTCGGATCGTAGCCATGTCGTTCTGTGAGCCAAGGAGTTG --detect_adapter_for_pe --disable_trim_poly_g -q 20 -u 20 -n 1 --length_required 50 -w 4 
soapnuke = /XXX/SOAPnuke
soapnuke_Parameters = filter -f AAGTCGGAGGCCAAGCGGTCTTAGGAAGACAA -r AAGTCGGATCGTAGCCATGTCGTTCTGTGAGCCAAGGAGTTG -l 20 -q 0.2 -E 50 -n 0.02 -5 0 -Q 2 -G -d 

################################### 03.Low complexity reads removing
lcr_method = prinseq
prinseq = /XXX/prinseq-lite.pl
prinseq_Parameters = -lc_method dust -lc_threshold 7 

################################### 04.coverage evaluation
cvg_method = bwa
bwa = /XXX/bwa 
bwa_Parameters = aln -t 2 
bwa_DB = /XXX/HCoV-19.fa
samtools = XXX/samtools
picard = /XXX/picard.jar
picard_Parameters = MarkDuplicates AS=TRUE VALIDATION_STRINGENCY=LENIENT MAX_FILE_HANDLES_FOR_READ_ENDS_MAP=1000 REMOVE_DUPLICATES=TRUE 

################################### 05.Assemble contigs
ass_method = spades
spades = /XXX/spades.py
spades_Parameters = -t 4 

################################### 06.consensus sequences
cns_method = pilon
pilon = /XXX/pilon
pilon_Parameters = --changes --vcf --mindepth 10 --fix all,amb --threads 4 --genome /XXX/HCoV-19.fa
bedtools = /XXX/bedtools
cns_MEM = 6G
pilon_Depth = 10
